html, body {
    margin:0;
    padding:0;
}

* {
    box-sizing: border-box;
}



body {
    background:black;
}

canvas {
    padding:25px;
    background:white;
    position:relative;
    display:block;
    margin:auto;
    margin-top:150px;
}